body {
    font-family: $font;
    font-weight: $font-normal;
}

h1 {
    @include font-size(36px);
}

h2 {
    @include font-size(30px);
}


a {
    color: $color__white;

    &:hover {
        color: $color__black;
    }
}

label {
    font-weight: $font-normal;
}

form .btn {
    @extend .btn;
    @extend .btn-primary;
    background-color: $color__secondary;

}