.navbar-default {
    background-color: $color__primary;
    margin-bottom: 0;

    & .navbar-brand {
        color: $color__white;
        @include font-size(48px);
        font-weight: $font-bold;

        @media (max-width: 500px) {
            @include font-size(32px);
        }
    }

    & .navbar-nav {
        color: $color__white;

        // active state navbar overide
        & .active>a {
            color: $color__white;
            font-weight: $font-bold;
            background-color: inherit;

            &:focus,
            &:hover {
                color: $color__hoover;
                font-weight: $font-bold;
                background-color: inherit;
            }
        }

        //hoverstate overides
        li>a {
            color: #fff;

            &:focus {
                color: $color__hoover;
                font-weight: $font-bold;
            }

            &:hover {
                color: $color__hoover;
                font-weight: $font-bold;
            }
        }

        // Seperator between elements
        li:not(:first-child) {
            box-shadow: -12px 0 0 -10px $color__white;
        }
    }
}