@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
/* variables */
$color__black: #000000;
$color__white: #FFFFFF;
$color__primary: #3c54a0;
$color__secondary: #ff9000;
$color__tertiary: #b8c1e1;
$color__hoover: #fdf6ec;

$font: "Open Sans",
sans-serif;
$font-normal: 400;
$font-bold: 800;